# Bỏ qua thư viện (Rất nặng, không bao giờ push lên Git)
node_modules/

# Bỏ qua biến môi trường (Chứa thông tin bảo mật, pass database)
.env

# Bỏ qua các file log lỗi của npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Bỏ qua các file rác của hệ điều hành
.DS_Store
Thumbs.db